<%= render '/errors' %>

<% action_url = action == :new_user ? users_url : session_url %>
<% button_text = action == :new_user ? 'SIGN UP' : 'LOG IN' %>

<form action=" <%= action_url %> " method="post">
  <%= auth_token %>
  
  <label for="email">
    Email:
    <input type="text" name="user[email]" value="">
  </label>
  
  
  <label for="password">
    Password:
    <input type="password" name="user[password]" value="">
  </label>
  
  <input type="submit" value=" <%= button_text %> ">
</form>