.div_a_article li {
  margin-bottom: 10px;
}

.div_a_article ul {
  padding: 10px;
  list-style: initial;
}

main {
  margin: 0 auto;
  width: 97%;
}

.div_a_article a:hover {
  color: blue;
  text-decoration: underline;
}